/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Heavily edited. Deleted a whole bunch of stuff not necessary for this site.
 */
/* =============================================================================
   HTML5 element display
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection {
  background: #cbd8e3;
  color: #2c2c2c;
  text-shadow: none;
}
::selection {
  background: #cbd8e3;
  color: #2c2c2c;
  text-shadow: none;
}
/* =============================================================================
   Links
   ========================================================================== */
/*Just easier to comment this out than to have to override it later.
a{color: #00e;}

a:visited{color: #551a8b;}
*/
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: 0;
}
/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/*
 * Correct overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}
/* =========================================================================
  Primary Styles
  Author: Paul Demers
   
  Table of Contents:
  //Mixins/Constants
  //Main Body Tag
  //Fonts
  //Grid
  //Links
  //Interaction
  //Images
  //Layout
========================================================================== */
body {
  background-color: #2c2c2c;
  background-color: #666666;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #444444, #666666);
  background-image: -ms-linear-gradient(top, #444444, #666666);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #666666));
  background-image: -webkit-linear-gradient(top, #444444, #666666);
  background-image: -o-linear-gradient(top, #444444, #666666);
  background-image: linear-gradient(top, #444444, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#666666', GradientType=0);
  color: #c1c1c1;
  float: left;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.375em;
  width: 100%;
}
@font-face {
  font-family: 'CreteRoundRegular';
  src: url('/fonts/CreteRound_Regular.eot');
  src: url('CreteRound_Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/CreteRound_Regular.woff') format('woff'), url('/fonts/CreteRound_Regular.ttf') format('truetype'), url('/fonts/CreteRound_Regular.svg#CreteRoundRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  color: #3e90d1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover, a:active {
  color: #c1c1c1;
}
input[type=button], .button {
  border: none;
  color: #222;
  cursor: pointer;
  font-size: 0.9375em;
  font-weight: 500;
  padding: 3px 12px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.blue {
  box-shadow: inset 0 1px 0 0 #4ea7da;
  text-shadow: 0 -1px 0 #3c8ed0;
  background-color: #4ea7da;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #3c8ed0, #4ea7da);
  background-image: -ms-linear-gradient(top, #3c8ed0, #4ea7da);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c8ed0), color-stop(100%, #4ea7da));
  background-image: -webkit-linear-gradient(top, #3c8ed0, #4ea7da);
  background-image: -o-linear-gradient(top, #3c8ed0, #4ea7da);
  background-image: linear-gradient(top, #3c8ed0, #4ea7da);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c8ed0', endColorstr='#4ea7da', GradientType=0);
}
.blue:hover {
  color: #222;
  background-color: #3c8ed0;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #4ea7da, #3c8ed0);
  background-image: -ms-linear-gradient(top, #4ea7da, #3c8ed0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4ea7da), color-stop(100%, #3c8ed0));
  background-image: -webkit-linear-gradient(top, #4ea7da, #3c8ed0);
  background-image: -o-linear-gradient(top, #4ea7da, #3c8ed0);
  background-image: linear-gradient(top, #4ea7da, #3c8ed0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ea7da', endColorstr='#3c8ed0', GradientType=0);
}
.blue:active {
  background-color: #4ea7da;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #3c8ed0, #4ea7da);
  background-image: -ms-linear-gradient(top, #3c8ed0, #4ea7da);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c8ed0), color-stop(100%, #4ea7da));
  background-image: -webkit-linear-gradient(top, #3c8ed0, #4ea7da);
  background-image: -o-linear-gradient(top, #3c8ed0, #4ea7da);
  background-image: linear-gradient(top, #3c8ed0, #4ea7da);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c8ed0', endColorstr='#4ea7da', GradientType=0);
}
.avatar {
  float: left;
  border: 1px solid #666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sm {
  margin-right: 5px;
  width: 40px;
}
.lg {
  margin-right: 10px;
  width: 50px;
}
.wrapper {
  max-width: 940px;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid #444;
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #111111;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #333333, #111111);
  background-image: -ms-linear-gradient(top, #333333, #111111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(top, #333333, #111111);
  background-image: -o-linear-gradient(top, #333333, #111111);
  background-image: linear-gradient(top, #333333, #111111);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111', GradientType=0);
}
.branding {
  display: inline;
  float: left;
  margin: 0 1.0416666666666665%;
  overflow: hidden;
  width: 47.91666666666667%;
}
.branding a {
  letter-spacing: .05em;
  text-decoration: none;
}
.branding a img {
  float: left;
  margin-right: 5px;
}
.branding a h1 {
  float: left;
  font-family: 'CreteRoundRegular', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  margin: 7px 0 0;
}
#content {
  background-color: #2c2c2c;
  border: 2px solid #444;
  margin: 70px auto 20px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.admin {
  border-bottom: 1px solid #444;
  margin-bottom: 15px;
  padding: 15px 0;
  background-color: #111111;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #333333, #111111);
  background-image: -ms-linear-gradient(top, #333333, #111111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(top, #333333, #111111);
  background-image: -o-linear-gradient(top, #333333, #111111);
  background-image: linear-gradient(top, #333333, #111111);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111', GradientType=0);
}
.admin .user_info {
  display: inline;
  float: left;
  margin: 0 1.0416666666666665%;
  overflow: hidden;
  width: 47.91666666666667%;
}
.admin .user_info h1, .admin .user_info h2 {
  margin: 0;
  color: #c1c1c1;
  background: -webkit-gradient(linear, left top, left bottom, from(#c1c1c1), to(#666666));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.admin .user_info h1 {
  font-size: 1.5em;
  line-height: 1.25;
}
.admin .user_info h2 {
  font-size: 1.125em;
  font-weight: normal;
  line-height: 1.15;
}
.admin .stats {
  text-align: center;
  word-wrap: break-word;
  color: #c1c1c1;
  background: -webkit-gradient(linear, left top, left bottom, from(#c1c1c1), to(#666666));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  display: inline;
  float: left;
  margin: 0 1.0416666666666665%;
  overflow: hidden;
  width: 14.583333333333334%;
}
.admin .stats dt {
  font-family: 'CreteRoundRegular', sans-serif;
  font-size: 1.5625em;
  padding: 5px 0;
}
.admin .stats dd {
  margin: 0;
}
.user_list {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.1);
  display: inline;
  float: left;
  margin: 0 1.0416666666666665%;
  overflow: hidden;
  width: 31.25%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 2px 0 #111111;
}
.user_list h1 {
  font-family: 'CreteRoundRegular', sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  line-height: .25;
  padding: 0 2%;
  text-align: center;
}
.user_list ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.users {
  padding: 2%;
}
ul.users li a {
  border-bottom: 1px solid #111;
  float: left;
  padding: 0 2%;
  text-decoration: none;
  width: 96%;
  background-color: #222222;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}
ul.users li a:hover {
  background-color: #111111;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #333333, #111111);
  background-image: -ms-linear-gradient(top, #333333, #111111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(top, #333333, #111111);
  background-image: -o-linear-gradient(top, #333333, #111111);
  background-image: linear-gradient(top, #333333, #111111);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111', GradientType=0);
}
ul.users li:first-child a {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius: 0;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
}
ul.users li:last-child a {
  border-bottom: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-top-left-radius: 0;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-top-right-radius: 0;
  -moz-border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
}
ul.users .avatar {
  margin-top: 5px;
}
.selected_user {
  display: inline;
  float: left;
  margin: 0 1.0416666666666665%;
  overflow: hidden;
  width: 64.58333333333334%;
}
.user_info_wrap {
  border: 1px solid #444;
  margin-bottom: 15px;
  padding: 15px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #111111;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #333333, #111111);
  background-image: -ms-linear-gradient(top, #333333, #111111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(top, #333333, #111111);
  background-image: -o-linear-gradient(top, #333333, #111111);
  background-image: linear-gradient(top, #333333, #111111);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111', GradientType=0);
}
.selected_user .user_info {
  text-shadow: 0 2px 0 #111111;
  display: inline;
  float: left;
  margin: 0 1.0416666666666665%;
  overflow: hidden;
  width: 47.91666666666667%;
}
.selected_user .user_info h1, .selected_user .user_info h2 {
  margin: 0;
}
.selected_user .user_info h1 {
  font-size: 1.25em;
  line-height: 1.25;
}
.selected_user .user_info h2 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.15;
}
.selected_user .stats {
  text-align: center;
  word-wrap: break-word;
  display: inline;
  float: left;
  margin: 0 1.0416666666666665%;
  overflow: hidden;
  width: 14.583333333333334%;
}
.selected_user .stats dt {
  font-size: 1em;
  padding: 0;
}
.selected_user .stats dd {
  margin: 0;
}
.latest_tweets {
  padding: 0;
}
.latest_tweets li {
  border: 1px solid #333;
  margin-bottom: 7px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #222222;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}
.latest_tweets li p {
  margin: 0;
}
.latest_tweets li p.date {
  font-size: 0.875em;
}
/* ===============
    ALL: IE Fixes
   =============== */
/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   
   Heavily edited. Deleted a whole bunch of stuff not necessary for this site.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* Changed clearfix to group because it sounds a tad more semantic. Credit to @simplebits for the idea. */
.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
.fl_left {
  float: left;
}
.fl_right {
  float: right;
}
@media only screen and (min-width: 480px) {
  
}
@media only screen and (min-width: 768px) {
  
}
@media only screen and (min-width: 1140px) {
  
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
