@import url(boilerplate.less);
/* =========================================================================
  Primary Styles
  Author: Paul Demers
   
  Table of Contents:
  //Mixins/Constants
  //Main Body Tag
  //Fonts
  //Grid
  //Links
  //Interaction
  //Images
  //Layout
========================================================================== */
@import url(mixins.less);

//Main Body Tag
body{
  background-color: #2c2c2c;
  .grad-vert(#444, #666);
  color: @body_text_color;
  float: left;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 100%;
  line-height: 1.375em;
  width: 100%;
}

//Fonts
@font-face {
  font-family: 'Titillium';
  src: url('../fonts/TitilliumText22L002.eot');
  src: url('../fonts/TitilliumText22L002.eot?#iefix') format('embedded-opentype'), url('../fonts/TitilliumText22L002.woff') format('woff'), url('../fonts/TitilliumText22L002.ttf') format('truetype'), url('../fonts/TitilliumText22L002.svg#TitilliumText22L002') format('svg');
  font-weight: normal;
  font-style: normal;
}

//GRID
// Defaults which you can freely override
@column-width: 60;
@gutter-width: 20;
@columns: 12;

// Utility variable - you should never need to modify this
@_gridsystem-width: (@column-width*@columns) + (@gutter-width*@columns) * 1px;

//Set @total-width to 100% for a fluid layout
@total-width: 100%;

.row(@columns:@columns){
	display: inline-block;
	margin: 0 @total-width*(((@gutter-width*.5)/@_gridsystem-width)*-1);
	overflow: hidden;
	width: @total-width*((@gutter-width + @_gridsystem-width)/@_gridsystem-width);
}

.column(@x,@columns:@columns){
	display: inline;
	float: left;
	margin: 0 @total-width*((@gutter-width*.5)/@_gridsystem-width);
	overflow: hidden;
	width: @total-width*((((@gutter-width+@column-width)*@x)-@gutter-width) / @_gridsystem-width);	
}

//LINKS
a{
  color: @link_color;
  .transition();

  &:hover, &:active{color: @link_hover_color;}
}

//Interaction
input[type=button], .button{
  border: none;
  color: #222;
  cursor: pointer;
  font-family: 'Titillium', sans-serif;
  font-size: 0.9375em;
  padding: 3px 12px;
  text-decoration: none;

  .border-radius(5px);
}
.blue{
  box-shadow: inset 0 1px 0 0 #4ea7da;

  .grad-vert(#3c8ed0, #4ea7da);

  &:hover{
    color: #222;
    .grad-vert(#4ea7da, #3c8ed0);
  }
  
  &:active{.grad-vert(#3c8ed0, #4ea7da);}
}

//Images
.avatar{
  float: left;
  border: 1px solid #666;

  .border-radius(5px);
}

.sm{
margin-right: 5px;
width: 40px;
}

.lg{
margin-right: 10px;
width: 50px
}

//Layout
.wrapper{
  max-width: 940px;
  margin: 0 auto;
}

header{
  border-bottom: 1px solid #444;
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;

  .grad-vert(#333, #111);
}

.branding{.column(6);}

.branding a{
  letter-spacing: .05em;
  text-decoration: none;
  
  img{
    float: left;
    margin-right: 5px;
  }
  
  h1{
    float: left;
    font-family: 'Titillium', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    margin: 7px 0 0;
  }
}

#content{
  background-color: #2c2c2c;
  border: 2px solid #444;
  margin: 70px auto 20px;
  padding-bottom: 15px;
  
  .box-shadow(0, 0, 25px, rgba(0,0,0,.5);
  .border-radius(5px);
}

.admin{
  border-bottom: 1px solid #444;
  margin-bottom: 15px;
  padding: 15px 0;

  
  .grad-vert(#333, #111);
  
}

.admin .user_info{
  padding-top: 8px;
 
  h1, h2{
    margin: 0;
  }
  
  h1{
    font-size: 1.5em;
    line-height: 1.25;
  }
  
  h2{
    font-family: 'Titillium', sans-serif;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.15;
  }

  .column(6);
}

.admin .stats{
  text-align: center;
  word-wrap:break-word;
  
  dl{
    border: 1px solid #444;
    float: left;
    margin: 0 10px 0 0;
    width: 30%;
    .border-radius(5px);
    .grad-vert(#333, #111);
  }

  dt{
    font-family: 'Titillium', sans-serif;
    font-size: 1.4375em;
    letter-spacing: 0.05em;
    padding: 10px 0 0;
  }

  dd{
    padding-bottom: 5px;
    margin: 0;
  }

  .column(6);
}

.user_list{
  background-color: #333;
  background-color: rgba(255,255,255,.10);

  .column(4);
  .border-radius(5px);
  .text-shadow(0, 2px, 0, #111);
}

.user_list h1{
  font-family: 'Titillium', sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  line-height: .25;
  padding: 7px 2% 0;
  text-align: center;
}

.user_list ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.users{padding: 2%;}

ul.users li{
  border-bottom: 1px solid #111;
  color: @link_color;
  cursor: pointer;
  float: left;
  padding: 0 2%;
  text-decoration: none;
  width: 96%;

  .grad-vert(#333, #222);
  .transition();

  &:hover, &.active{
    color: @link_hover_color;
  
   .grad-vert(#333, #111); 
  }
}

ul.users li:first-child{
  .border-single-radius(5px, 0, 5px, 0);
}

ul.users li:last-child{
  border-bottom: none;

  .border-single-radius(0, 5px, 0, 5px);
}

ul.users .avatar{margin-top: 5px;}

.selected_user{.column(8);}

.user_info_wrap{
  border: 1px solid #444;
  margin-bottom: 15px;
  padding: 15px 0;
  
  .border-radius(5px);
  .grad-vert(#333, #111);
}

.selected_user .user_info{
  h1, h2{margin: 0;}
  
  h1{
    font-size: 1.25em;
    line-height: 1.25;
  }
  
  h2{
    font-family: 'Titillium', sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.15;
  }

  .text-shadow(0, 2px, 0, #111);
  .column(6);
}

.selected_user .stats{
  text-align: center;
  word-wrap:break-word;
  
  dl{
    border: 1px solid #444;
    float: left;
    margin: 0 10px 0 0;
    padding: 5px 0;
    width: 28%;
    .border-radius(5px);
    .grad-vert(#333, #111);
  }
  
  dt{
  font-family: 'Titillium', sans-serif;
  font-size: 1.25em;
  padding: 0;
  }

  dd{
    font-size: 0.875em;
    line-height: 1;
    margin: 0;
  }

  .column(6);
}

.latest_tweets{padding: 0;}

.latest_tweets li{
  border: 1px solid #333;
  margin-bottom: 7px;
  padding: 10px;
  
  .border-radius(5px);
  .grad-vert(#333, #222);
}

.latest_tweets li p{margin: 0;}

.latest_tweets li p.date{font-size: 0.875em;}


.whatIs{
  h1{margin-top: 5px;}
  h2{color: @link_color;}
  ul{margin: 0 0 1em;}
  li{list-style-type: circle;}
}
/*! fancyBox v2.0.4 fancyapps.com | fancyapps.com/fancybox/#license */
#overlay{
  display: none;
}
.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1002;
}

.fancybox-outer {
	padding: 0;
	margin: 0;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

.fancybox-opened {
	z-index: 1003;	
}

.fancybox-opened .fancybox-outer {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-inner {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	outline: none;
	overflow: hidden;
}

.fancybox-error {
	color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 10px;
}

.fancybox-image{
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

.fancybox-close{
	background-image: url('../images/close.png');
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 28px;
	height: 28px;
	cursor: pointer;
	z-index: 1004;
}

/* ===============
    ALL: IE Fixes
   =============== */

@import url(helpers.less);
@import url(queries.less); 
@import url(print.less);