@import url(boilerplate.less);
/* =========================================================================
  Primary Styles
  Author: Paul Demers
   
  Table of Contents:
  //Mixins/Constants
  //Main Body Tag
  //Fonts
  //Grid
  //Links
  //Interaction
  //Images
  //Layout
========================================================================== */
@import url(mixins.less);

//Main Body Tag
body{
  background-color: #2c2c2c;
  .grad-vert(#444, #666);
  color: @body_text_color;
  float: left;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 100%;
  line-height: 1.375em;
  width: 100%;
}

//Fonts
@font-face{
    font-family: 'CreteRoundRegular';
    src: url('/fonts/CreteRound_Regular.eot');
    src: url('CreteRound_Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/CreteRound_Regular.woff') format('woff'),
         url('/fonts/CreteRound_Regular.ttf') format('truetype'),
         url('/fonts/CreteRound_Regular.svg#CreteRoundRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

//GRID
// Defaults which you can freely override
@column-width: 60;
@gutter-width: 20;
@columns: 12;

// Utility variable - you should never need to modify this
@_gridsystem-width: (@column-width*@columns) + (@gutter-width*@columns) * 1px;

//Set @total-width to 100% for a fluid layout
@total-width: 100%;

.row(@columns:@columns){
	display: inline-block;
	margin: 0 @total-width*(((@gutter-width*.5)/@_gridsystem-width)*-1);
	overflow: hidden;
	width: @total-width*((@gutter-width + @_gridsystem-width)/@_gridsystem-width);
}

.column(@x,@columns:@columns){
	display: inline;
	float: left;
	margin: 0 @total-width*((@gutter-width*.5)/@_gridsystem-width);
	overflow: hidden;
	width: @total-width*((((@gutter-width+@column-width)*@x)-@gutter-width) / @_gridsystem-width);	
}

//LINKS
a{
  color: @link_color;
  .transition();

  &:hover, &:active{color: @link_hover_color;}
}

//Interaction
input[type=button], .button{
  border: none;
  color: #222;
  cursor: pointer;
  font-family: 'CreteRoundRegular', sans-serif;
  font-size: 0.9375em;
  padding: 3px 12px;
  text-decoration: none;

  .border-radius(5px);
}
.blue{
  box-shadow: inset 0 1px 0 0 #4ea7da;
  text-shadow: 0 1px 0 #ccc;

  .grad-vert(#3c8ed0, #4ea7da);

  &:hover{
    color: #222;
    .grad-vert(#4ea7da, #3c8ed0);
  }
  
  &:active{.grad-vert(#3c8ed0, #4ea7da);}
}

//Images
.avatar{
  float: left;
  border: 1px solid #666;

  .border-radius(5px);
}

.sm{
margin-right: 5px;
width: 40px;
}

.lg{
margin-right: 10px;
width: 50px
}

//Layout
.wrapper{
  max-width: 940px;
  margin: 0 auto;
}

header{
  border-bottom: 1px solid #444;
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;

  .grad-vert(#333, #111);
}

.branding{.column(6);}

.branding a{
  letter-spacing: .05em;
  text-decoration: none;
  
  img{
    float: left;
    margin-right: 5px;
  }
  
  h1{
    float: left;
    font-family: 'CreteRoundRegular', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    margin: 7px 0 0;
  }
}

#content{
  background-color: #2c2c2c;
  border: 2px solid #444;
  margin: 70px auto 20px;
  padding-bottom: 15px;
  
  .box-shadow(0, 0, 25px, rgba(0,0,0,.5);
  .border-radius(5px);
}

.admin{
  border-bottom: 1px solid #444;
  margin-bottom: 15px;
  padding: 15px 0;

  
  .grad-vert(#333, #111);
  
}

.admin .user_info{  
  h1, h2{
    margin: 0;

    .grad-text(#c1c1c1, #666);
  }
  
  h1{
    font-size: 1.5em;
    line-height: 1.25;
  }
  
  h2{
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.15;
  }

  .column(6);
}

.admin .stats{
  text-align: center;
  word-wrap:break-word;
  .grad-text(#c1c1c1, #666);

  dt{
    font-family: 'CreteRoundRegular', sans-serif;
    font-size: 1.5625em;
    padding: 5px 0;
  }

  dd{margin: 0;}

  .column(2);
}

.user_list{
  background-color: #333;
  background-color: rgba(255,255,255,.10);

  .column(4);
  .border-radius(5px);
  .text-shadow(0, 2px, 0, #111);
}

.user_list h1{
  font-family: 'CreteRoundRegular', sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  line-height: .25;
  padding: 0 2%;
  text-align: center;
}

.user_list ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.users{padding: 2%;}

ul.users li a{
  border-bottom: 1px solid #111;
  float: left;
  padding: 0 2%;
  text-decoration: none;
  width: 96%;

  .grad-vert(#333, #222);

  &:hover{
   .grad-vert(#333, #111); 
  }
}

ul.users li:first-child a{
  .border-single-radius(5px, 0, 5px, 0);
}

ul.users li:last-child a{
  border-bottom: none;

  .border-single-radius(0, 5px, 0, 5px);
}

ul.users .avatar{margin-top: 5px;}

.selected_user{.column(8);}

.user_info_wrap{
  border: 1px solid #444;
  margin-bottom: 15px;
  padding: 15px 0;
  
  .border-radius(5px);
  .grad-vert(#333, #111);
}

.selected_user .user_info{
  h1, h2{margin: 0;}
  
  h1{
    font-size: 1.25em;
    line-height: 1.25;
  }
  
  h2{
    font-size: 1em;
    font-weight: normal;
    line-height: 1.15;
  }

  .text-shadow(0, 2px, 0, #111);
  .column(6);
}

.selected_user .stats{
  text-align: center;
  word-wrap:break-word;
  
  dt{
  font-size: 1em;
  padding: 0;
  }

  dd{margin: 0;}

  .column(2);
}

.latest_tweets{padding: 0;}

.latest_tweets li{
  border: 1px solid #333;
  margin-bottom: 7px;
  padding: 10px;
  
  .border-radius(5px);
  .grad-vert(#333, #222);
}

.latest_tweets li p{margin: 0;}

.latest_tweets li p.date{font-size: 0.875em;}

/* ===============
    ALL: IE Fixes
   =============== */

@import url(helpers.less);
@import url(queries.less); 
@import url(print.less);